.nav-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .nav-body{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 100px;
    }
    .nav-body img{
    max-width: 100%;
    height: 7rem;
    left: 62px;
    gap: 0px;
    }
    .nav-right{
        display: flex;
        width: 80%;
        justify-content: space-around;
    }
    .nav-options{
    display: flex;
    top: 86px;
    left: 428px;
    gap: 35px;
    }
    .nav-options p{
    
    font-size: 22px;
    font-weight: 700;
    line-height: 27.5px;
    text-align: left;
    
    }
    .nav-button{
    width: 127px;
    height: 50px;
    top: 86px;
    left: 1254px;
    gap: 0px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #000000C7;
    background-color: transparent;
    
    font-size: 22px;
    font-weight: 600;
    line-height: 27.5px;
    }